header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 75px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}
#page-wrapper{
    position: relative;
}
#login{
    font-family: cursive;
}
.logo{
    width: 60vw;
}
.logo img{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20px;
    max-width: 300px;
    align-items: center;
    background-color: aqua;
}
.nav-bar{
    font-weight: 400;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}

body{
    background-color: lightblue;
    font-family: 'lato', sans-serif;

}
#hero{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    padding-left: 300px;
    align-items: center;
}
h2{
    margin-bottom: 20px;
    margin-top: 20px;
    word-wrap: break-word;
}
input[type="email"] {
    width: 100%;
    padding: 5px;
    max-width: 250px;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: yellow;
    border: 0;
    width: 100%;
    max-width: 150px;
    height: 30px;
    margin: 15px;
}
#QUALITIES{
    padding-left: 30%;
    margin: 20px;
}
.icon{
    display: flex;
    max-width: 300px;
    margin-bottom: 0;
    float: left;
    margin-right: 10px;
}
#FUNCTIONALITY{
    margin: 30px;
    justify-content: center;
    display: flex;
}
#iframe{
    max-width: 560px;
    width: 100%;
}
#COSTS{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#soprano,#bass,#alto{
    border: 1px solid #000000;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    min-height: 50px;
    background-color:aqua;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style: none;
    width: 100%;
}
.level{
    background-color: #999999;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    background-color: yellow;
}